/* project form */
#project-feed{
    /* background-color: rgb(13, 14, 13); */
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
  }
 
#project-feed form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    /* border: 2px solid black; */
}

#project-feed form input{
    width: 40%;
    margin: 0.5%;
    height: 4vh;
    border: 2px solid black;
}

textarea{
    width: 40%;
    margin: 0.5%;
    border: 2px solid black;
}
#project-feed form input::-webkit-input-placeholder{
    /* margin: 5px; */
    padding: 5%;
  
}

#project-feed form #addBtn{
    background-color: #5dbea3;
    width: 20vh;
    height: 5vh;
}