*{
    
    background-color: #3F3F3F;
    color: aliceblue;
    padding: 0%;
    margin: 0%;
}

.nav{
    padding: 0%;
    margin: 0%;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );


    height: 10vh;
    width: 100%;
}

.data{
    border: 2px solid grey;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.data p{
    margin-top: 2.5vh;
   
    color: wheat;
}
.data p small{
    font-size: 1.2rem;
    padding: 0.5%;
    /* border: 2px solid red; */
    margin-top: 20px;
    font-weight: 800;
    
}
.desc{
    border: 2px solid white;
    width: 50vh;
    height: 20vh;

}
.dp{
    display: flex;
    /* flex-direction: row; */
    border: 2px solid rebeccapurple;
    height: 200vh;
}

.issues-list{
    border: 2px solid red;
    padding: 1%;
    /* display: flex; */
    flex-direction: column;
    /* height: 30vh; */
    margin-top: 2%;
}
.issues-list li{
    list-style: none;
}